#textInputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.lightTheme textArea {
    color: black;
    background-color: #f8f9fa;
}

.darkTheme textArea {
    color: white;
    background-color: #181818;
}


